<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0000c7;">
    <div class="container-fluid">
        <h2>PitchWorld</h2>
        <div class="navbar-right">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ current_user.username}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>