{% extends 'base.html' %}{%block content%}
<div class="jumbotron text-center" style=" color: #fff; padding: 100px 25px;">
    <h1>Promotion Pitches</h1>
</div>
<div class="container">
    <h1>Promotion Pitches</h1>
    <hr>
    <div class="row">
        <div class="row">
            {% for pitch in pitches %}
            <div class="card">
                Title:{{pitch.pitch_title}} Body:{{pitch.pitch_content}} Posted:{{pitch.posted}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}